# vi: ft=muttrc

set date_format = "%d. %b"

set sort     = threads
set sort_aux = reverse-last-date-received
set sort_re         # thread based on regexp
set uncollapse_jump # don't collapse on an unread message

set reply_regexp = "^(([Rr][Ee]?(\[[0-9]+\])?: *)?(\[[^]]+\] *)?)*"

set index_format = " [%Z]  %D  %-20.20F  %s"

set status_chars  = " *%A"
set status_format = "---[ Folder: %f ]---[%r%m messages%?%n? (%n new)?%?d? (%d to delete)?%?t? (%t tagged)? ]---%>-%?p?( %p postponed )?---"
